# Data Map Demo 

Run this noteboook to test your widget, and create the initial directory to be able to run `yarn dev`.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import random
import pandas as pd

import canvas_ux
from canvas_data_map import CanvasDataMap

### Create/Import Data 

Create a Pandas DataFrame with your data or the metadata for a dataset.

In [3]:
a = [random.randint(0, 100) for i in range(100)]
b = [random.randint(50, 200) for i in range(100)]
c = [random.randint(0, 1) for i in range(100)]
states = ['Alabama',
'Alaska',
'Arizona',
'Arkansas',
'California',
'Colorado',
'Connecticut',
'Delaware',
'District of Columbia',
'Florida',
'Georgia',
'Hawaii',
'Idaho',
'Illinois',
'Indiana',
'Iowa',
'Kansas',
'Kentucky',
'Louisiana',
'Maine',
'Maryland',
'Massachusetts',
'Michigan',
'Minnesota',
'Mississippi',
'Missouri',
'Montana',
'Nebraska',
'Nevada',
'New Hampshire',
'New Jersey',
'New Mexico',
'New York',
'North Carolina',
'North Dakota',
'Ohio',
'Oklahoma',
'Oregon',
'Pennsylvania',
'Rhode Island',
'South Carolina',
'South Dakota',
'Tennessee',
'Texas',
'Utah',
'Vermont',
'Virginia',
'Washington',
'West Virginia',
'Wisconsin',
'Wyoming']
country = [random.choice(states) for i in range(100)]

df = pd.DataFrame(zip(a, b, c, country), columns=['a', 'b', 'c', 'country'])

In [4]:
df.head()

    a    b  c       country
0  48   59  0      Kentucky
1  97  188  1      Oklahoma
2   2  118  1        Nevada
3  57   69  0        Hawaii
4  17   96  0  South Dakota

In [5]:
id_map = {
    'Alabama': 1,
    'Alaska': 2,
    'Arizona': 4,
    'Arkansas': 5,
    'California': 6,
    'Colorado': 8,
    'Connecticut': 9,
    'Delaware': 10,
    'District of Columbia': 11,
    'Florida': 12,
    'Georgia': 13,
    'Hawaii': 15,
    'Idaho': 16,
    'Illinois': 17,
    'Indiana': 18,
    'Iowa': 19,
    'Kansas': 20,
    'Kentucky': 21,
    'Louisiana': 22,
    'Maine': 23,
    'Maryland': 24,
    'Massachusetts': 25,
    'Michigan': 26,
    'Minnesota': 27,
    'Mississippi': 28,
    'Missouri': 29,
    'Montana': 30,
    'Nebraska': 31,
    'Nevada': 32,
    'New Hampshire': 33,
    'New Jersey': 34,
    'New Mexico': 35,
    'New York': 36,
    'North Carolina': 37,
    'North Dakota': 38,
    'Ohio': 39,
    'Oklahoma': 40,
    'Oregon': 41,
    'Pennsylvania': 42,
    'Rhode Island': 44,
    'South Carolina': 45,
    'South Dakota': 46,
    'Tennessee': 47,
    'Texas': 48,
    'Utah': 49,
    'Vermont': 50,
    'Virginia': 51,
    'Washington': 53,
    'West Virginia': 54,
    'Wisconsin': 55,
    'Wyoming': 56,
}

### Create Canvas Widgets

We can now explore the individual widgets!

In [6]:
symph = canvas_ux.Canvas(df)

TypeError: Canvas.__init__() got an unexpected keyword argument 'notebook'

In [7]:
symph.widget(CanvasDataMap, id_column='country', feature='states', projection='albersUsa', id_map=id_map, map_url='https://raw.githubusercontent.com/vega/vega/master/docs/data/us-10m.json')

NameError: name 'symph' is not defined

In [ ]:
symph.export('../canvas_data_map/standalone', name="Widget Demo")